* {
	margin:0;
	padding:0;
	font-family: 'Oswald', sans-serif;
}

main{
	width:1050px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding-bottom: 75px;
}

.container {
	width: 960px;
	margin-left: auto;
	margin-right: auto; 
}

#logo {
	width: 221px;
	padding-right: 45px;
	float: left;
	font-weight: 900;
	margin-top: 20px;
}

/*UPPER NAVIGATION*/
.navigation {
	display: block;
	padding: 20px;
}

.navigation img {
	height: 21px;
	width: 21px;
}

.navigation ul{
	list-style-type: none;
}

.navigation > ul > li{
	display: inline-block;
	padding-top: 30px;
	text-align: left;
	position: relative;
	float: left;
}

.navigation >ul > li > a{
	padding-right: 20px;
}

#mail {	
	padding: 0;
}

.navigation a {
	text-decoration: none;
	color: black;
	height: 25px;
}

.navigation > ul > li > ul  {
	display: block;
	height: 25px;
	width: 125px;
	position: absolute;
}

.navigation > ul > li > ul > li > a {
	display: none;
}	

.navigation li:hover > ul > li > a{
	background-color: white;
	display: block;
}

.navigation li:hover > a{
	color: 999999; 
}

.navigation li:hover a:hover{
	color: 7CB900;
}

.navigation a>img:hover{
	opacity: .5;
}

/*BREADCRUMB NAVIGATION*/
.breadcrumb {
	padding-left: 0;
	margin-top: 100px;
	padding-bottom: 12px;
}

.breadcrumb ul {
	list-style-type: none;
}

.breadcrumb li {
	display: inline-block;
}

.breadcrumb a {
	text-decoration: none;
	color: 7CB900;
}

.breadcrumb a:hover {
	color: black;
}

/*ERROR SECTION CONSTRUCTION*/
#feedback p{
	padding-bottom: 2px;
	border-color: red;
	border-style: dashed;
	border-width: 1px;
}

/*TABLE CONSTRUCTION*/
.home_table {
	margin-top: 20px;
	width: 100%;
	background-color: E1DAD4;
	border-collapse: collapse;
	text-align: left;
}

.home_table th{
	
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
}

.home_table .body td{
	padding-left: 15px;
	padding-bottom: 7px;
	padding-top: 7px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.home_table .body time{
	padding-bottom: 7px;
	padding-top: 7px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.home_table .body img{
	width: 32px;
	height: 21px;
	vertical-align: middle;
}
.home_table .body .even a{
	background-image: url("plusG22.png");
	background-repeat: no-repeat;
	background-size: 32px 21px;
}
.home_table .body .odd a{
	background-image: url("plusB22.png");
	background-repeat: no-repeat;
	background-size: 32px 21px;
}

.home_table .body a>img:hover{
	opacity: 0;
}

.home_table .body td:last-child{
	text-align: center;
	padding-left: 0;
}

.odd { 
	background-color: white;
}

.even {
	background-color: F4F0ED;
}

/*TABLE NAVIGATION*/
.table_nav {
	font-size: 14;
	text-align: center;
}

.table_nav li {
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	display: inline-block;
	list-style-type: none;
}
.table_nav a {
	font-family: 'Open Sans Condensed', sans-serif;
	text-decoration: none;
	color: white;
	background-color: 666767; 
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 1px; 
}

.table_nav a:hover{
	color: black;
	background-color: white;
}

/*FOOTER CONSTRUCTION*/

.boot {
	background-color: 666767;
	position: fixed;
	bottom: 10;
	width: 100%;
}

.container .footer {
	font-size: 12;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer ul{
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
}

.footer li{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.footer a {
	text-decoration: none;
	color: black;
}

.footer a:hover{
	color: white;
}
